#macro(includeMessages $items)
<p class="background-text">UNSTABLE ENVIRONMENT!</p>
<table id="messagesTable" class="stats-table table-hover">
    <thead>
    <tr>
        <th class="failed" colspan="3">ENVIRONMENT ISSUES DETECTED, RESULTS ARE UNRELIABLE</th>
    </tr>
    <tr class="header dont-sort">
        <th class="failed">Error</th>
        <th class="failed">Description</th>
        <th class="failed">Count</th>
    </tr>
    </thead>

    <tbody>
        #foreach($item in $items)
        <tr>
            <td class="">$item.getError()</td>
            <td class="">$item.getDescription()</td>
            <td class="">$item.getCount()</td>
        </tr>
        #end
    </tbody>
</table>

#end
