#macro(includePostmanData $postmanData)
    #if($postmanData.isEnabled())
        #includeLead(
            "Postman collections", "Postman collections have been created out of this test run. Use 'Import -> Link' option in Postman client.")

    <div class="container-fluid" id="postman">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-fit-content">
                    <thead>
                    <tr>
                        <th class="col-md-2">
                            <a id="url-collection-all" href="collections.zip"
                               target="_blank" class="btn btn-info btn-xs">download all</a>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($collectionData in $postmanData.getCollections())
                            #set( $collectionId = "$collectionData.getId()")
                            #set( $collectionName = "$collectionData.getName()")
                            #set( $colFileName = "$collectionData.getFileName()")
                        <tr>
                            <td class="col-md-2">
                                <a id="url-collection-$collectionId" href="postman-collection/$colFileName"
                                   target="_blank">$collectionName</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-xs" onclick="copyToClipboard('url-collection-$collectionId')">copy to clipboard</button>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
                <table class="table table-fit-content">
                    <thead>
                    <tr>
                        <th class="col-md-2">Environment configuration</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($env in $postmanData.getEnvironments())
                            #set( $envFileNamePrefix = "postman-env-")
                            #set( $envFileNameSuffix = ".json")
                            #set( $envFileName = "$envFileNamePrefix$env$envFileNameSuffix")
                        <tr>
                            <td class="col-md-2">
                                <a id="env-$env" href="postman-collection/$envFileName" target="_blank">$env.toUpperCase()</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-xs" onclick="copyToClipboard('env-$env')">copy to clipboard</button>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function copyToClipboard(elementId) {
            /* Get the text field */
            var copyText = document.getElementById(elementId).href;

            var tempInput = document.createElement("input");
            tempInput.value = copyText;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        }
    </script>
    #end
#end
