test-output/
target/

.classpath
.project
.settings/
*.iml
.idea
**/*.orig
.DS_Store

#########################
# Gradle specific ignores
#########################
.gradle
**/build/
!src/**/build/
gradle-local.properties

# Ignore Gradle GUI configuration
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradle-cache

# Ignore docker volumes
**/docker-data