#macro(includeStepName, $keyword, $name, $args, $status, $result, $attachmentBlockId)

  #set($isPassed = $result.getStatus().isPassed())

#set($_noescape_stepName = $stepNameFormatter.format($name, $args, '<span class="argument">', '</span>'))
<div class="brief collapsable-control #if($isPassed)collapsed#end $status.getRawName()" data-toggle="collapse" data-target="#attachments-$attachmentBlockId">
  <span class="keyword indention">$keyword</span>
  <span class="name">$_noescape_stepName</span>
  <i class="chevron fa fa-fw"></i>
  #includeDuration($result)
</div>

#end
