<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.tablesorter.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/runtime-main.994def0d.js"></script>
<script src="js/2.c99a6472.chunk.js"></script>
<script defer src="js/main.c5f307ba.chunk.js"></script>


<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="css/cucumber.css" type="text/css"/>
<link rel="stylesheet" href="css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/highlight-default.css" type="text/css">
<link rel="shortcut icon" href="images/favicon.png"/>

<script>
    $(document).ready(function () {
        // this will tell tablesorter to try looking for the data-value attribute
        // if present, it'll sort by that instead
        // otherwise, it'll sort by the text content of the table cell
        $("#tablesorter").tablesorter({
            textAttribute: 'data-value',
            // ignores the first row of the header, the 'scenario', 'steps', since
            // sorting those doesn't make sense
            selectorHeaders: '> thead tr:not(.dont-sort) th',
            // use a stable sort
            sortStable: true
        });
    });
</script>


<style>
    .content {
        overflow: hidden;
        background-color: #efefef;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 25px;
    }


    .details-content {
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        max-width: 100%;
        font-size: 13px;
        overflow-x: auto;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 2px;
    }

    .attachment-content {
        overflow: auto;
        position: relative;
        padding: 2px;
        max-height: 900px;
    }

    .attachment-block-toggle{
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .table.table-fit-content {
        width: auto;
    }

    .table.table-fit-content td,
    .table.table-fit-content th {
        white-space: nowrap;
        width: 1px;
    }

    .background-text {
        color: #d33430;
        transform: rotate(340deg);
        z-index: -999;
        position: fixed;
        opacity: 50%;
        top: 30%;
        left: 10%;
        font-size: 70pt;
        border: 7px solid;
    }
</style>