<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<appender name="REPORT" class="ch.qos.logback.core.FileAppender">
		<file>${testExecLogDir}/test-automation-exec.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SS} [%-7.7thread]  %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="REPORT" />
	</root>
</configuration>