#macro(reportTableWithTitle $page_title $page_description $firstColName, $tags, $tableWidth)
<div class="container-fluid">
    <div class="col-md-$tableWidth col-md-offset-1">
        <h4><b>$page_title</b></h4>
        #if($page_description)
            <p>$page_description</p>
        #end
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-$tableWidth col-md-offset-1">
            #reportTable($firstColName $parallel $tags $report_summary $absolutePrefix)
        </div>
    </div>
</div>
#end
